{{#if addNewProfile}}
<h3>ADD YOUR INFO</h3>
<form>
  <div class="form-group">
    <label for="name">NAME</label>
    {{input value=name id="name"}}
  </div>
  <div class="form-group">
    <label for="location">LOCATION</label>
    {{input value=location id="location"}}
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    {{input value=image id="image"}}
  </div>
  <div class="form-group">
    <label for="services">Services</label>
    {{input value=services id="services"}}
  </div>
  <button {{action 'saveForm'}} class="btn">SAVE INFORMATION</button>
</form>
{{else}}
<button {{action 'showForm'}}>ADD Vet</button>
{{/if}}
